# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# IntelliJ 設定檔
.idea/
*.iml
out/

# 編譯輸出
build/
target/

# 系統檔
.DS_Store
Thumbs.db